// nextflow.config

singularity {
    enabled = true
    autoMounts = true // Typically useful to allow access to necessary paths like TMPDIR
    // cacheDir = "/var/tmp/projekt/singularity_containers/" // Uncomment if you want a custom cache directory
    envWhitelist = "no_proxy,ftp_proxy,https_proxy,http_proxy,all_proxy,rsync_proxy"
    pullTimeout = '60min' // Set timeout to 1 hour
}