// nextflow.config

params {
  python_container_path = '${projectDir}/appcontainer/python_container.sif'
  python_plotly_container_path = '${projectDir}/appcontainer/python_container_plotly.sif'
  bowtie2_container_path = '${projectDir}/appcontainer/bowtie2.sif'
  sra_tools_container_path = '${projectDir}/appcontainer/sra-tools.sif'
  ganon_container_path = '${projectDir}/appcontainer/ganon.sif'
  entrez_direct_container_path = '${projectDir}/appcontainer/entrez-direct.sif'
  fastp_container_path = '${projectDir}/appcontainer/fastp.sif'
  multiqc_container_path = '${projectDir}/appcontainer/multiqc.sif'
  kraken2_container_path = '${projectDir}/appcontainer/kraken2.sif'
}

profiles {
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = '${projectDir}/appcontainer/cacheDir'
    singularity.envWhitelist = 'no_proxy,ftp_proxy,https_proxy,http_proxy,all_proxy,rsync_proxy'
    docker.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
  }
}
