// nextflow.config

params {
  python_container_path = '${projectDir}/appcontainer/python_container.sif'
  python_plotly_container_path = '${projectDir}/appcontainer/python_container_plotly.sif'
  bowtie2_container_path = 'https://depot.galaxyproject.org/singularity/bowtie2%3A2.5.4--he96a11b_5'
  sra_tools_container_path = 'https://depot.galaxyproject.org/singularity/sra-tools%3A3.1.0--h9f5acd7_0'
  ganon_container_path = 'https://depot.galaxyproject.org/singularity/ganon:2.1.0--py39ha35b9be_0'
  entrez_direct_container_path = 'https://depot.galaxyproject.org/singularity/entrez-direct%3A22.1--he881be0_0'
}

profiles {
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = '${projectDir}/appcontainer/cacheDir'
    singularity.envWhitelist = 'no_proxy,ftp_proxy,https_proxy,http_proxy,all_proxy,rsync_proxy'
    docker.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
  }
}
